<html>
  <head>
	<title>Register Site</title>
  </head>
  <body>
	<h1>Register Site</h1>
	<form method="POST" action="/admin/newsite">
	  <p>
		<label>
		  Name
		  <input type="text" name="Name" />
		</label>
	  </p>
	  <p>
		<label>
		  Has Picture
		  <input type="checkbox" name="HasPicture" />
		</label>
	  </p>
	  <p>
		<label>
		  Has Engraving
		  <input type="checkbox" name="HasEngraving" />
		</label>
	  </p>
	  <p>
		<label>
		  Other
		  <input type="checkbox" name="Other" />
		</label>
	  </p>

	  <p>
		<label>
		  Is Historic
		  <input type="checkbox" name="IsHistoric" />
		</label>
	  </p>
	  
	  <p>
		<label>
		  City
		  <select name="CityId">
			<option value="1">Value</option>
		  </select>
		</label>
	  </p>

	  <p>
		<label>
		  Circuit
		  <select name="CircuitId">
			<option value="1">Value</option>
		  </select>
		</label>
	  </p>

	  <p>
		<label>
		  National Park
		  <select name="NationalParkId">
			<option value="1">Value</option>
		  </select>
		</label>
	  </p>

	  <p>
		<label>
		  Location
		  <select name="LocationId">
			<option value="1">Value</option>
		  </select>
		</label>
	  </p>

	  <input type="submit" value="Register" />
	</form>
  </body>
</html>
