<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Serra da Capivara</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="/static/css/layout.css"  media="screen,projection"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
</head>
<body class="index">


	<div class="navbar-fixed">
		<nav class="transparent" role="navigation">
			<div class="container">
				<div class="nav-wrapper">

					<a id="logo-container" href="#" class="brand-logo thin-text">Serra da Capivara</a>

					<ul id="slide-out" class="side-nav full">
						<li><a href="#">ABOUT US</a></li>
						<li><a href="#">HELP US</a></li>
						<li><a href="#">SEARCH</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>

					<a href="#" data-activates="slide-out" class="button-menu">
						<i class="mdi-navigation-menu"></i>
					</a>
				</div>
			</div>
		</nav>
	</div>

	<div class="info-page">
		<div class="container">
			<div class="row row-container">
				<div class="col s12 m6">
					<img src="/static/assets/brand-home.png" class="responsive-img">
				</div>
				<div class="col s12 m6">
					<h1 class="white-text">Serra da Capivara</h1>
					<p class="white-text opaque">The Serra da Capivara National Park is an archaeological conservation area with a wealth of remains that have been preserved for millennia.</p>
					<a href="#" class="waves-effect waves-dark btn white red-text">Go about us</a>
				</div>
			</div>
			<a class="btn-floating btn-large waves-effect waves-light white">
				<i class="mdi-navigation-expand-more grey-text"></i>
			</a>
		</div>
	</div>

	<div class="parallax-container valign-wrapper">
		<div class="section no-pad-bot">
			<div class="container">
				<div class="row center">
					<h1 class="header col s12 white-text">
						Special places need to be shown
					</h1>
					<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light red">HELP US</a>
				</div>
			</div>
		</div>
		<div class="parallax">
			<img src="/static/assets/background-serra.jpg">
		</div>
	</div>

	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<br><br>
			<div class="row center">
				<h5 class="header col s12 light">Pesquisar por sitios e tals</h5>
			</div>
			<div class="row center">
				<div class="input-field col s12">
					<input id="first_name" type="text" class="validate">
					<label for="first_name">Search for Title, description or tags.</label>
				</div>

				<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light red">SEARCH NOW</a>
			</div>
			<br><br>

		</div>
	</div>

	<footer class="page-footer">
		<div class="footer-copyright">
			<div class="container">
				Make with Go, Love, Doritos and <a class="deep-orange-text darken-4" href="http://materializecss.com">Materialize</a>
			</div>
		</div>
	</footer>


	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.parallax').parallax();
			$('.button-menu').sideNav();
		});
	</script>
</body>
</html>
